body {
	background-size:cover;
	-moz-user-select: none;
	font-family:"Segoe UI", Arial, Helvetica, FreeSans, "Liberation Sans", "Nimbus Sans L", sans-serif;
	background: url('../images/grain.png');
	cursor:default;
}

#container {
	width: 360px;
	height: 400px;
	margin: 0 auto;
	position: relative;
	box-shadow: inset -5px 43px 200px -100px #E1ED38,
				inset -114px -159px 181px -47px rgba(81, 196, 70, 0.43),
				inset -132px -72px 161px 0px #00CBFF;
}

/*****************
 *	Bookmark panel
 *****************/
#gui {
	width: 100%;
	height: 100%;
	margin: 0 auto;
	padding: 0 20px 0 0;
	background: url('../images/whitey.png');
	overflow: auto;
	position: relative;
}

.box {
	width: 140px;
	height: 25px;
	margin: 5px 10px;
	padding: 5px;
	background: rgba(255,255,255,0.1);
	overflow: hidden;
	display: table;
	float: left;
}

.box:hover {
	background:rgba(255,255,255,0.3);
	cursor:pointer;
}

.box_drop {
	border:dotted 2px #333;
}

.fav {
	width:25px;
	height:16px;
	padding:0;
	background-image:url(../images/folder.png);
	background-position:center center;
	background-size:16px 16px;
	background-repeat:no-repeat;
	float:left;
}

.text {
	width: 115px;
	max-width:115px;
	height: inherit;
	background: rgba(255, 255, 255, 0.3);
	font-size: 12px;
	display: table-cell;
	vertical-align: middle;
	white-space: nowrap;
	word-wrap: break-word;
	overflow: hidden;
}



#overflow {
	height: 30px;
	width: 100%;
	position: absolute;
	left: 0;
	bottom: 0;
	background: -moz-linear-gradient(bottom, rgba(81, 196, 70, 0.43) 0%, rgba(81, 196, 70, 0) 100%);
}
