body {
	margin: 0 auto;
	background-image: url("../images/whitey.png");
	font-family: "Segoe UI", Arial, Helvetica, FreeSans, "Liberation Sans",
				"Nimbus Sans L", sans-serif;
	-moz-user-select: none;
	overflow: hidden;
	cursor: default;
}

#panel {
	width: 100%;
	margin: 0 auto;
	height: auto;
}

/**************************************
 *	Informations about current folder
 **************************************/

#nav {
	width: 100%;
	height: 40px;
	margin: 0 auto;
	color: #FFF;
	font-size: 14px;
	background: rgba(0,0,0,0.5);
	float: left;
	position: relative;
}

#nav .path {
	width: 100%;
	height: 100%;
	padding: 10px 50px;
	text-align: center;

	white-space: nowrap;
	word-wrap: break-word;
	overflow: hidden;
	position: absolute;

	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#nav .path:hover {
	text-shadow: 0 0 5px #06F;
	cursor: pointer;
}

#nav .back {
	width: 40px;
	height: 100%;

	background: url("../images/back.png") no-repeat left;
	border-right: 1px solid rgba(255,255,255,0.2);
	border-left: 1px solid rgba(255,255,255,0.2);

	position: absolute;
	top: 0px;
	left: 0px;

	display: none;
}

#nav .back:hover{
	background-position: right;
	cursor: pointer;
}


#nav .settings {
	width: 40px;
	height: 100%;

	background: url("../images/settings.png") no-repeat center;

	opacity: 0.5;

	position: absolute;
	right: 0px;

	transition-property: opacity, transform;
	transition-duration: 0.5s;

}

#nav .settings:hover {
	opacity: 1;
	cursor: pointer;

    animation-name: rotate;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@-moz-keyframes rotate {
    from {
    	transform: rotate(0deg);
    }
    to {
    	transform: rotate(360deg);
    }
}


/*****************
 *	Bookmark panel
 *****************/
#marks {
	width: 105%;
	height: 400px;
	margin: 20px 0 0 0;
	padding: 0 20px 0 0;
	float: left;
	overflow: auto;
}

#marks .box {
	width: 140px;
	height: 25px;
	margin: 2px 10px;
	padding: 5px;
	background: rgba(255,255,255,0.1);
	overflow: hidden;
	display: table;
	float: left;
}

#marks .box:hover {
	background:rgba(255,255,255,0.3);
	cursor:pointer;
	box-shadow: inset 0px 0px 2px 0px rgba(255,255,255,0.5);
}

#marks .fav_uri, #marks .fav_query, #marks .fav_folder {
	width: 25px;
	height: inherit;
	padding: 0;
	background: rgba(255, 255, 255, 0.3);
	background-image: url("../images/fav.png");
	background-position: center;
	background-size: 16px 16px;
	background-repeat: no-repeat;
	float: left;
}

#marks .fav_query {
	background-image: url("../images/query.png");
}

#marks .fav_folder {
	background-image: url("../images/folder.png");
}


#marks .title {
	width: 115px;
	max-width:115px;
	height: inherit;
	background: rgba(255, 255, 255, 0.3);
	font-size: 12px;
	display: table-cell;
	vertical-align: middle;
	white-space: nowrap;
	word-wrap: break-word;
	overflow: hidden;
}

#marks .separator {
	width: 100%;
	height: 3px;
	margin: 5px 0;
	float: left;
}

#marks .drag {
	box-shadow: 0px 0px 3px 2px #1D9CE0, inset 0px 0px 3px 0px #67E073;
	transform: scale(0.8);
}

